<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="clone.twitter.repository.FollowMapper">
  <insert id="follow">
    INSERT INTO follow (follower_id, followee_id, created_at)
    VALUES (#{followerId}, #{followeeId}, #{createdAt})
  </insert>

  <delete id="unfollow">
    DELETE
    FROM follow
    WHERE follower_id = #{followerId}
    AND followee_id = #{followeeId}
  </delete>

  <select id="findInitialFollowingList" resultType="User">
    SELECT u.*
    FROM user u
    JOIN follow f
    ON u.id = f.followee_id
    WHERE f.follower_id = #{followerId}
    ORDER BY f.created_at DESC
    LIMIT #{limit}
  </select>

  <select id="findNextFollowingList" resultType="User">
    SELECT u.*
    FROM user u
    JOIN follow f
    ON u.id = f.followee_id
    WHERE f.follower_id = #{followerId}
    AND f.created_at &lt; (
    SELECT created_at
    FROM follow
    WHERE followee_id = #{followeeId}
    AND follower_id = #{followerId}
    )
    ORDER BY f.created_at DESC
    LIMIT #{limit}
  </select>

  <select id="findInitialFollowedList" resultType="User">
    SELECT u.*
    FROM user u
    JOIN follow f
    ON u.id = f.follower_id
    WHERE f.followee_id = #{followeeId}
    ORDER BY f.created_at DESC
    LIMIT #{limit}
  </select>

  <select id="findNextFollowedList" resultType="User">
    SELECT u.*
    FROM user u
    JOIN follow f
    ON u.id = f.follower_id
    WHERE f.followee_id = #{followeeId}
    AND f.created_at &lt; (
    SELECT created_at
    FROM follow
    WHERE follower_id = #{followerId}
    AND followee_id = #{followeeId}
    )
    ORDER BY f.created_at DESC
    LIMIT #{limit}
  </select>

  <select id="findByIds" resultType="Follow">
    SELECT *
    FROM follow
    WHERE follower_id = #{followerId}
    AND followee_id = #{followeeId}
  </select>
</mapper>
