<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="clone.twitter.repository.UserMapper">

  <insert id="save" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO user (username, email, password_hash, profile_name, birthdate, created_at, updated_at)
    VALUES (#{username}, #{email}, #{passwordHash}, #{profileName}, #{birthdate}, #{createdAt}, #{updatedAt})
  </insert>

  <select id="findById" resultType="User">
    SELECT *
    FROM user
    where id = #{id}
  </select>

  <select id="findByUsernameAndPasswordHash" resultType="User">
    SELECT *
    FROM user
    WHERE username = #{username}
    AND password_hash = #{passwordHash}
  </select>

  <select id="findByEmailAndPasswordHash" resultType="User">
    SELECT *
    FROM user
    WHERE email = #{email}
    AND password_hash = #{passwordHash}
  </select>

  <delete id="deleteById">
    DELETE
    FROM user
    WHERE id = #{id}
  </delete>

  <delete id="clear">
    DELETE FROM user
  </delete>

</mapper>